<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Notícia</title>
</head>
<body>
	<h1>Notícia</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>TITULO</td>
				<td>NOTICIA</td>
			</tr>
			<tr>
				<td><%= noticia[0].id_noticias %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tr>

		</table>
</body>
</html>