<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		
		<br>
		
		<form action="/noticias/salvar" method="post" ame="form_noticias">
			<label for="titulo">Título</label>
			<input type="text" name="titulo", id="titulo" placeholder="Titulo">
			<br>
			<br>
			<label for="noticia">Notícia</label>
			<br>
			<textarea name="noticia" id="noticia" cols="40" rows="7"></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>