
body{
	margin:auto;
	font-family: sans-serif;
}

input{
	margin:3px;
}


nav{
	background-color: #ecf0f1;
	box-shadow: 0 0 10px #7f8c8d;
}

input[type=text]{
	height:30px;
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	padding:10px;
}

input[type=text]:focus{
	outline: none !important;
    border:1px solid #16a085;
    box-shadow: 0 0 5px #16a085;
}

input[type=submit]{
	height:30px;
	background-color: #1dd2af;
	border-radius: 5px;
	color:#ffffff;
	border-bottom: 3px solid #16a085;
	border-right: 3px solid #16a085;
	border-top: 3px solid #1dd2af;
	border-left: 3px solid #1dd2af;
}

input[type=submit]:focus{
	border-bottom: 3px solid #1dd2af;
	border-right: 3px solid #1dd2af;
	border-top: 3px solid #16a085;
	border-left: 3px solid #16a085;
	box-shadow: 0 0 0px #ffffff;
}

#contatos{
	margin:10px;
}

.caixa-contato{
	float: left;
	margin:5px;
	width: 270px;
	border-radius: 5px;
	padding:10px;
	color:#ffffff;
}

.caixa-verde{
	background-color:#1dd2af;
	text-shadow: 2px 2px #16a085;
	border-bottom: 3px solid #16a085;
	border-right: 3px solid #16a085;
}

.caixa-azul{
	background-color:#3498db;
	text-shadow: 2px 2px #2980b9;
	border-bottom: 3px solid #2980b9;
	border-right: 3px solid #2980b9;
}

.caixa-roxa{
	background-color:#9b59b6;
	text-shadow: 2px 2px #8e44ad;
	border-bottom: 3px solid #8e44ad;
	border-right: 3px solid #8e44ad;
}

.caixa-laranja{
	background-color:#e67e22;
	text-shadow: 2px 2px #d35400;
	border-bottom: 3px solid #d35400;
	border-right: 3px solid #d35400;
}

span{
	color:#34495e;
	text-shadow: 1px 1px #2c3e50;
	cursor: pointer;
	margin-left:5px;
}

span:hover{
	color:#e74c3c;
	text-shadow: 1px 1px #c0392b;
}